[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

Packages/com.unity.burst*/

UserSettings/
.vscode/
.idea/

.DS_Store
Thumbs.db
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets/Animations/Player/Crouch Walk Right.fbx.meta
Assets/Animations/Player/Player.controller
Assets/assets/the_barn/textures/barnDoor_01/Thumbs.db.meta
Assets/assets/the_barn/textures/barnFrames/Thumbs.db.meta
Assets/assets/the_barn/textures/barnLadder_01/Thumbs.db.meta
Assets/assets/the_barn/textures/barnRoof/Thumbs.db.meta
Assets/assets/the_barn/textures/barnUpstairsStructure_02/Thumbs.db.meta
Assets/assets/the_barn/textures/barnWoodFrame/Thumbs.db.meta
Assets/assets/the_barn/textures/beechWood_01/Thumbs.db.meta
Assets/assets/the_barn/textures/cans_01/Thumbs.db.meta
Assets/assets/the_barn/textures/cardBoardBoxes_01/Thumbs.db.meta
Assets/assets/the_barn/textures/concrete_01/Thumbs.db.meta
Assets/assets/the_barn/textures/exteriorTools_01/Thumbs.db.meta
Assets/assets/the_barn/textures/farmBoots_01/Thumbs.db.meta
Assets/assets/the_barn/textures/fuseBox_01/Thumbs.db.meta
Assets/assets/the_barn/textures/gasGenerator_01/Thumbs.db.meta
Assets/assets/the_barn/textures/groundMetal_01/Thumbs.db.meta
Assets/assets/the_barn/textures/handTools_01/Thumbs.db.meta
Assets/assets/the_barn/textures/hangingBlankets_01/Thumbs.db.meta
Assets/assets/the_barn/textures/hangingLights_01/Thumbs.db.meta
Assets/assets/the_barn/textures/haystack_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metal_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metalChest_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metalCloset_01/Thumbs.db.meta
Assets/assets/the_barn/textures/metalFurniture_01/Thumbs.db.meta
Assets/assets/the_barn/textures/paintedWoodPlanks_01/Thumbs.db.meta
Assets/assets/the_barn/textures/silo_01/Thumbs.db.meta
Assets/assets/the_barn/textures/Terrain/Thumbs.db.meta
Assets/assets/the_barn/textures/Thumbs.db.meta
Assets/assets/the_barn/textures/tire_01/Thumbs.db.meta
Assets/assets/the_barn/textures/tire_02/Thumbs.db.meta
Assets/assets/the_barn/textures/toolBox_01/Thumbs.db.meta
Assets/assets/the_barn/textures/weatheredWood_01/Thumbs.db.meta
Assets/assets/the_barn/textures/window_01/Thumbs.db.meta
Assets/assets/the_barn/textures/woodenCrate_01/Thumbs.db.meta
Assets/assets/the_barn/textures/woodStock_01/Thumbs.db.meta
Assets/assets/the_barn/textures/workTable_01/Thumbs.db.meta
Assets/Scripts/PlayerInteraction.cs
Assets/Scripts/Phone.cs
